.pokemon-ball {
  width: 150px;
  margin: 0 auto;
  cursor: pointer;
}

.pokemon-ball-container {
  width: 150px;
  height: 250px;
  margin: 0 auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokemon-ball-svg {
  width: 100%;
  height: 100%;
}
